<%- include('./components/header.ejs') %>
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/1.png" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/2.png" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/3.png" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Последние продукты</h2>
			</div>
			<% if(latestProducts.length){ %>
			<div class="product-slider owl-carousel">


				<% latestProducts.forEach(function(product){ %>

				<div class="product-item">
					<div class="pi-pic">
						<% if(product.newProduct){ %>
							<div class="tag-new">new</div>
						<% } %>
						<img src="<%= product.activeImage.src %>" alt="<%= product.activeImage.alt %>">
						<div class="pi-links">
							<a href="#" data-product="<%= product.productId %>" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6><%= product.price %></h6>
						<p><a href="/product?product=<%= product.productId %>&category=<%= product.category %>"><%= product.title %></a></p>
					</div>
				</div>

				<% }) %>

			</div>
			<% } else { %>
				<p style="text-align: center">Записи отсувствуют</p>
			<% } %>
		</div>
	</section>
	<!-- letest product section end -->


	<!-- Product filter section -->
	<section class="product-filter-section" id="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>ПОСМОТРИТЕ ЛУЧШИЕ ПРОДАЖИ ТОВАРОВ</h2>
			</div>
			<ul class="product-filter-menu">
				<li><a href="#" @click.prevent="fetchData()">Все</a></li>
				<% categories.forEach(function(category){%>

					<li><a href="#" @click.prevent="fetchData('<%= category.title %>')"><%= category.title %></a></li>

				<%}) %>
			</ul>
			<div class="row">

					<div class="col-lg-3 col-sm-6" v-for="item in items" :key="item.productId">
						<div class="product-item">
							<div class="pi-pic">
								<div class="tag-new" v-if="item.newProduct">new</div>
								<img :src="item.activeImage.src" :alt="item.activeImage.alt" />
								<div class="pi-links">
									<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
									<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
								</div>
							</div>
							<div class="pi-text">
								<h6>{{ item.price }}</h6>
								<p><a :href="'/product?product='+item.productId+'&category='+item.category"> {{ item.title }}</a></p>
							</div>
						</div>
					</div>


			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark" v-if="loadBtn" @click="loadMore">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner-bg.jpg">
				<div class="tag-new">NEW</div>
				<span>New Arrivals</span>
				<h2>STRIPED SHIRTS</h2>
				<a href="#" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
new Vue({
	el: "#product-filter-section",
	data: {
		items: [],
		from: 0,
		to: 8,
		category: "",
		loadBtn: true
	},
	methods: {
		async fetchData(category = ""){
			this.category = category;
			this.from = 0;
			this.to = 8;
			this.loadBtn = true;

			const posts = await fetch(`http://localhost:3000/api/products?category=${category}&from=0&to=8`)
			const {data} = await posts.json()
			if(data.length !== 8) {
				this.loadBtn = false
			}

			this.items = data
		},
		async loadMore(){
			this.from = this.to;
			this.to += 8;

			const posts = await fetch(`http://localhost:3000/api/products?category=${this.category}&from=${this.from}&to=${this.to}`)
			const {data} = await posts.json()

			if(data.length !== 8) {
				this.loadBtn = false
			}

			this.items.push(...data)
		},
	},
	mounted: async function(){
		const posts =await fetch('http://localhost:3000/api/products')
		const {data} = await  posts.json()

		if(data.length !== 8){
			this.loadBtn = false
		}

		this.items = data;
	}
})
</script>


<%- include('./components/footer.ejs') %>
