<%- include('./components/header.ejs') %>

<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Страница товара</h4>
			<div class="site-pagination">
				<a href="/">Главная</a> /
				<a href="/">Магазин</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
				<a href="category.ejs"> &lt;&lt; Вернуться в категории</a>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="<%= product.activeImage.src %>" alt="<%= product.activeImage.alt %>">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">

						<div class="product-thumbs-track">
							<% product.images.forEach(function(image, index) {  %>
								<div class="pt <%- index == 0 && 'active' %>" data-imgbigurl="<%= image.src %>"><img src="<%= image.src %>" alt="<%= image.alt %>"></div>
							<% }) %>
						</div>

					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title"><%= product.title %></h2>
					<h3 class="p-price">$<%= product.price %></h3>
					<h4 class="p-stock">В наличии: <span> <%- product.have ? "в наличии" : "нет в наличии" %></span></h4>
					<div class="p-rating">
						<% for(var i = 0; i <= 4; i++){ %>
							<i class="fa fa-star-o <%- i >= product.rating &&  'fa-fade'%>"></i>
						<% } %>
					</div>
					<div class="p-review">
						<a href="">3 отзыва</a>|<a href="">Добавить свой отзыв</a>
					</div>
					<div class="fw-size-choose">
						<p>Размер</p>
						<% product.sizes.forEach(function(size) { %>

							<div class="sc-item">
								<input type="radio" name="sc" id="size-<%= size %>">
								<label for="size-<%= size %>"><%= size %></label>
							</div>

						<%}) %>

					</div>
					<div class="quantity">
						<p>КОЛИЧЕСТВО</p>
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
					<button class="site-btn <%- !product.have && "disabled" %>" data-product="<%- product.productId %>">Купить сейчас</button>
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">информация</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<%- product.information %>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">детали ухода</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="img/cards.png" alt="">
									<%- product.careDetail %>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">доставка и возврат</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<%- product.delivery %>
								</div>
							</div>
						</div>
					</div>
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->


	<!-- RELATED PRODUCTS section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title">
				<h2>СОПУТСТВУЮЩИЕ ТОВАРЫ</h2>
			</div>
			<div class="product-slider owl-carousel">
				<% recommendation.forEach(function(item){ %>

					<div class="product-item">
						<div class="pi-pic">
							<img src="<%= item.activeImage.src %>" alt="<%= item.activeImage.alt %>">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$<%= item.price %></h6>
							<p><a href="/product?product=<%= item.productId %>&category=<%= item.category %>"><%= item.title %></a></p>
						</div>
					</div>

				<% }) %>
			</div>
		</div>
	</section>
	<!-- RELATED PRODUCTS section end -->

<script>



	document.querySelector('.site-btn').addEventListener('click', function(e){
		fetch('http://localhost:3000/api/addToBacket', {
			method: 'POST',
			data: {
				count: 1,
				id: 56
			}
		})
	})
</script>
<%- include('./components/footer.ejs') %>

